.step-content-title{
    display: flex;
    text-align: center;
    margin-top: 2%;
    margin-left: 0;
}
.step-content-content {
    background-color: black;
}
.cercle-div {
    width: 11px;
    height: 11px;
    background: #C4C4C4;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin-left: 1.2%;
    margin-top: 1%;
}
.title-content{
    color: #737171;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 1%;
    padding-left: 4%;
    margin-top: 0;
}
