.check-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}
.check-element1 {
    border: 1px #3399FE solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2%
}

.check-element2 {
    border: 1px #3399FE solid;
    width: 70%;
    border-left-width: 0;
    background-color: rgb(233, 241, 250);
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;

    justify-content: space-around;
    align-items: center;
}
.cin-logo-style{
    width: 70px;
    height: auto;
    margin-top:4%;
    margin-bottom: 4%;
}
.title-cin {
    opacity: 0.9;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 1%;
}
.format-cin {
    color: #737171;
    opacity: 0.9;
    font-size: 14px;
    line-height: 1.22;
    padding-bottom: 1%;
}
.button-upload-cin{
    width: 80%;
    margin-top:10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 30%;

}
.dropdown-upload-cin {
    width: 117%;
    background-color: #c7c5c5;
    display: flex;
    justify-content: space-between;
    height: 40%;
    margin-left: -17px;
    margin-top: -8px;
    border-radius: 0;

}
.upload-logo{
    width: 1em;
    font-size: 18px;
    
}
.cercle-div-upload-logo {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    font-size: 25px;
}
.name-img-upload {
        opacity: 0.9;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 1%;

}