.container-conv {
  margin: 0px auto; 
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  width: 600px; 
}
.title-conv {
  color: #808080;
  font-size: 14px;
  margin-top: 35px;
}

.text1-conv,
.text2-conv {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.6;
}

.text2-conv {
  margin-bottom: 40px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px; 
  overflow: hidden; 
  border: 1px solid #ADD8E6;
}

th,
td {
  padding: 10px;
  font-size: 14px;
}

th {
  background-color: #ADD8E6; 
  text-align: center; 
  vertical-align: middle; 
  color: #000; 
}

td {
  display: flex;
  justify-content: space-between; 
}

td span {
  margin-left: auto; 
  white-space: nowrap;
}

.initials-conv {
  width: 340px;
  height: 40px; 
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
  float: right; 
}

.initials-title-conv {
  margin-top: 10px;
  font-size: 14px;
  text-align: right;
}

