.style-div-heures{
    margin-top: 20px;
    height: auto;
    max-height: 280px;
    overflow-y: scroll;
}
.style-div-heure{
    margin: 10px;
    padding: 10px;
    font-size: medium;
    border: rgb(175, 173, 173) solid 0.1px; 
    cursor: pointer;
    transition: background-color 0.3s;
}
.style-div-heure.selected {
    background-color: #1976d2;
    color: white;
}