.nav-style1 {
    padding: 0em 10% 0px 0.2em;
    height: 4em;
    display: flex;
}
.logo-style {
    width:30%;
    height: 6em;
    display: flex;
    margin-top: 0em;
}


.navbar-nav1 {
    padding-left: 70%;
}
.nav-item1 {
    padding-right: 2em;
}

.nav-lien1 {
    color: #004C7A;
    text-transform: none;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.nav-lien2 {
    color: #004C7A;
    text-transform: none;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.nav-lien3{
    width: 500px;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}


