.container-step-mre{
    margin-top: 5%;
    background-color:#e9f3fa;
}
.h1-style-mre{
    padding: 100px;
    background-color: (217.06,69.86%,28.63%);
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 61, 124);
    font-family: ITCAvantGardeStd-medium;
    line-height: 42px;
    font-weight: 750;
}